<a href="https://colab.research.google.com/github/Usmanahmad9/practice-coding/blob/main/pandas_(loc_and_csv)_pandas_basic_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np

In [16]:
import pandas as pd

In [17]:
dict1 = {
    "name":['harry','usman','bilal','shaqeeb'],
    "marks":[12,34,45,34],
    "city":['rawalpindi','islamabad','karachi','lahore']
}

In [18]:
df=pd.DataFrame(dict1)

In [19]:
df

      name  marks        city
0    harry     12  rawalpindi
1    usman     34   islamabad
2    bilal     45     karachi
3  shaqeeb     34      lahore

In [20]:
df.to_csv('friends.csv')

In [21]:
df.head(2)

    name  marks        city
0  harry     12  rawalpindi
1  usman     34   islamabad

In [22]:
df.tail(2)

      name  marks     city
2    bilal     45  karachi
3  shaqeeb     34   lahore

In [23]:
df.describe()

           marks
count   4.000000
mean   31.250000
std    13.841363
min    12.000000
25%    28.500000
50%    34.000000
75%    36.750000
max    45.000000

In [25]:
ser=pd.Series(np.random.rand(34))

In [26]:
ser

0     0.713955
1     0.164766
2     0.214177
3     0.921314
4     0.564833
5     0.714134
6     0.952452
7     0.554264
8     0.800525
9     0.008547
10    0.656958
11    0.277070
12    0.520167
13    0.342139
14    0.117599
15    0.540469
16    0.877088
17    0.039936
18    0.038999
19    0.251370
20    0.736860
21    0.196395
22    0.947452
23    0.998855
24    0.005928
25    0.092216
26    0.184337
27    0.793245
28    0.300355
29    0.277312
30    0.257566
31    0.547974
32    0.267015
33    0.377281
dtype: float64

In [27]:
type(ser)

pandas.core.series.Series

In [29]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [35]:
newdf

            0         1         2         3         4
0    0.973152  0.326347  0.820220  0.143300  0.175477
1    0.882708  0.688758  0.604515  0.064916  0.033993
2    0.217599  0.863334  0.347274  0.088042  0.379949
3    0.490536  0.759309  0.268087  0.816350  0.470808
4    0.814212  0.656249  0.070309  0.644600  0.675758
..        ...       ...       ...       ...       ...
329  0.983236  0.833176  0.547375  0.400584  0.245709
330  0.583386  0.005748  0.664123  0.717090  0.161786
331  0.162609  0.317032  0.551558  0.981760  0.355645
332  0.151842  0.425394  0.296648  0.943458  0.304836
333  0.300971  0.840174  0.523838  0.833559  0.465647

[334 rows x 5 columns]

In [36]:
type(newdf)

pandas.core.frame.DataFrame

In [38]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.486865    0.490858    0.495096    0.478658    0.481944
std      0.279966    0.308451    0.294516    0.287806    0.282831
min      0.002378    0.002179    0.001054    0.001435    0.001476
25%      0.235159    0.219691    0.237647    0.220745    0.253733
50%      0.479229    0.484812    0.488723    0.479159    0.470263
75%      0.723135    0.775055    0.765258    0.717898    0.700216
max      0.992109    0.996790    0.998383    0.999594    0.998521

In [39]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [40]:
newdf[0][0]="usman"

In [41]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [42]:
newdf.head()

          0         1         2         3         4
0     usman  0.326347  0.820220  0.143300  0.175477
1  0.882708  0.688758  0.604515  0.064916  0.033993
2  0.217599  0.863334  0.347274  0.088042  0.379949
3  0.490536  0.759309  0.268087  0.816350  0.470808
4  0.814212  0.656249  0.070309  0.644600  0.675758

In [43]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [45]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [46]:
newdf.to_numpy()

array([['usman', 0.32634712189892456, 0.8202197235966104,
        0.14329969427588662, 0.1754766736132466],
       [0.8827080466772472, 0.688758314536089, 0.604514595945898,
        0.06491592684234349, 0.03399339535767498],
       [0.217599466910106, 0.8633342007548522, 0.34727364347423295,
        0.08804196509876905, 0.37994851816091435],
       ...,
       [0.16260926895958971, 0.3170319702207286, 0.551558363362687,
        0.9817597718214308, 0.3556454667475315],
       [0.1518417086978463, 0.4253938407202148, 0.29664789049147633,
        0.9434581968813581, 0.30483616776762423],
       [0.30097115373666106, 0.8401740945834063, 0.523838019065322,
        0.8335586348312791, 0.46564693592205675]], dtype=object)

In [50]:
newdf.sort_index(axis=0)

            0         1         2         3         4
0       usman  0.326347  0.820220  0.143300  0.175477
1    0.882708  0.688758  0.604515  0.064916  0.033993
2    0.217599  0.863334  0.347274  0.088042  0.379949
3    0.490536  0.759309  0.268087  0.816350  0.470808
4    0.814212  0.656249  0.070309  0.644600  0.675758
..        ...       ...       ...       ...       ...
329  0.983236  0.833176  0.547375  0.400584  0.245709
330  0.583386  0.005748  0.664123  0.717090  0.161786
331  0.162609  0.317032  0.551558  0.981760  0.355645
332  0.151842  0.425394  0.296648  0.943458  0.304836
333  0.300971  0.840174  0.523838  0.833559  0.465647

[334 rows x 5 columns]

In [51]:
newdf.loc[1,1]=112

In [52]:
newdf.head(3)

          0           1         2         3         4
0     usman    0.326347  0.820220  0.143300  0.175477
1  0.882708  112.000000  0.604515  0.064916  0.033993
2  0.217599    0.863334  0.347274  0.088042  0.379949